* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
section{
  /* height: auto; */
  margin-bottom: 130px;
  /* border: 2px solid red; */
}
span{
  font-weight: 700;
  font-size: 20px;
}
.center {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
h1 {
  font-size: 65px;
}
h2 {
  font-size: 45px;
  color: #121212;
}

h1,
h2,h3,
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
  padding: 0px 10%;
}
#banner {
  background-image: linear-gradient(
      360deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 100%
    ),
    url("./images/banner.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #ffffff;
}
.banner-intro p {
  color: #ffffff;
  margin-bottom: 30px;
}
.btn {
  background-color: #ff5959;
  width: 160px;
  height: 56px;
  padding: 16px 12px;
  border-radius: 5px;
}
.btn a {
  text-decoration: none;
  color: #ffffff;
}

.donate-today p {
  margin-bottom: 50px;
}
.donate-today .donation-amount {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}
.donation-amount .amount {
  width: 135px;
  height: 123px;
  
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donation-amount h5 {
  color: #707070;
  margin-bottom: 0px;
  font-size: 30px;
}

.donation-amount #active-b {
  border: 2px solid #FF5959;
  background-color: #FFEEEE;
}

.donation-amount .amount #amount3 {
  color: #ff5959;
}
#tk {
  width: 100%;
  height: 50px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #DADADA;
  outline: none;
  margin-bottom: 30px;
  font-size: 18px;
}
::placeholder{
  color: #B3B3B3;
  opacity: 1;
  font-size: 18px;
}

.plan{
  width: 100%;
}
.donate-plan p{
  margin-bottom: 50px;
}
#card-container{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  width: 370px;
  height: 450px;
  text-align: left;
  border-radius: 5px;
  margin-right: 24px;
}
.card-1{
  background-color: rgba(79, 157, 166, 0.1);
}
.card-2{
  background-color: rgba(255, 89, 89, 0.1);
}
.card-3{
  background-color: #FFF4D6;
}
.card img{
  padding-top: 60px;
  padding-left: 23px;
}
.card .card-content{
  /* margin-left: 23px; */
  font-family: "Poppins", sans-serif;
}
.card-content h6{
  font-size: 24px;
  font-weight: 600px;
  color: #121212;
  padding-top: 31px;
  margin-bottom: 16px;
  padding: 25px;
  padding-bottom: 0;
}
.card-content p{
  font-size: 16px;
  padding-right: 0;
  padding: 25px;
  
}
.about-us .center{
  width: 70%;
}
.about-us .center p{
  text-align: justify;
}
#counts{
  /* margin-top: 100px; */
  width: 70%;
  margin: 80px auto 50px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
#counts i{
  margin-bottom: 30px;
  
}
#counts h3{
  font-size: 39px;
}
.about-us h4{
  font-size: 36px;
  margin-bottom: 30px;
}
.gallery{
  width: 50%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.get-update p{
  margin-bottom: 50px;
  margin-top: 30px;
  padding: 20px;
}
.form{
  width: 809px;
  height: 200px;
  background-color: #FFF4D6;
  
}
.form input{
  width: 275px;
  height: 48px;
  background-color: #D9D9D9;
  border: none;
}
.form button{
  width: 157px;
  height: 48px;
  color: #FFFFFF;
  background-color: #FF5959;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-left: -6px;
}

footer{
  background: #0B0D17;
}

footer h4{
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color: #FF5959;
  padding-top: 43px;
  margin-bottom: 25px;
}
footer p{
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: #D9DBE1;
  padding-bottom: 43px;
}
